<li> 
	<%= gravatar_for user  %>
	<%= link_to user.name, user %>
		<%#= link_to "delete", user, method: :delete, confirm: "you Sure?" %>
	<% if current_user.admin?  %>
		<%= link_to "delete", user, method: :delete, confirm: "you Sure?" %>
		<% end %>
</li>
